name: 'ShellCheck'
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Run ShellCheck
        uses: azohra/shell-linter@latest
        with:
          path: "cccp"
          #   - SC2016 when to use single or double quotes,
          #   - SC2174 what mode we do want,
          #   - SC2164 where to pushd so it should not fail =)
          exclude-issues: "SC2016,SC2164,SC2174"
